body {
  background: #1F5D9B;
  color: #E69C71;
  font-family: sans-serif;
  text-align: center;
  padding: 15px;
}
img {
  width: 175px;
  height: 130px;
  margin: 10px;
  cursor: pointer;
}
audio {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
}